@import "contact";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color: darkslateblue, $alpha: 0.8);
  height: 10vh;

  a {
    text-decoration: none;
    color: white;
  }

  nav {
    display: flex;
    li {
      list-style: none;
      align-items: center;
    }

    a {
      padding: 0.25em;
      margin: 0 1.5em;
      color: rgb(241, 241, 241);

      &:hover {
        transition: all 400ms ease-in-out;
        color: darkslategray;
        background-color: white;
        border-radius: 0.25em;
      }
    }
  }
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

p {
  margin: 1em 0;
  text-align: justify;
}

img {
  margin: auto;
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 12em;
}

.section-div {
  margin: auto;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;

  li {
    margin: auto 2em;
  }
}

.main-hero {
  height: 90vh;
  color: white;
  position: relative;

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image: url("../img/bg-1.jpg");

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #414a4f;
      opacity: 0.75;
    }
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

.skills {
  img {
    width: 4.5em;
  }

  ul {
    margin-top: 2em;
    li {
      padding: 1em;
    }
  }
}

.contact {
  padding: 2em 10em;
  background-color: darkcyan;

  li {
    color: white;
    margin: auto 15em;
  }

  a {
    border-radius: 5px;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    padding: 0.75em 1.75em;
  }
}

.services {
  color: white;
  background-color: darkslateblue;

  ul {
    &.grid {
      > li {
        padding: 1em;
        border-radius: 5px;
        border: solid lightseagreen 2px;
      }
    }
  }
}

footer {
  color: white;
  background-color: darkslategrey;
  padding: 0.75em;
  p {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;

    a {
      margin: 0 0.75em !important;
    }
  }

  .grid {
    flex-direction: column;
  }

  section {
    padding: 1em !important;
  }

  .skills {
    img {
      width: 5em;
    }
  }

  .services {
    ul {
      &.grid {
        > li {
          margin: 1em 0;
          padding: 0.5em !important;
        }
      }
    }
  }

  .contact {
    li {
      padding: 0.75em 1em;
      margin: 0.5em 0 !important;
    }
  }
}
